*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,ul,p{
	margin: 0;
	padding: 0;
}
header{
	background: url(../image/background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh; 
	padding-top: 25px;
	
}
.nav-item{
	padding: 0 10px;
}
.nav-link{
	color: white;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding: 0px !important ;
    margin-bottom: 50px;
}

.nav-link::before{
	content:'';
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 3px;
	width: 0%;
	background-color: #008ed6;
	transition: .4s all ease-in-out;
}
.nav-link::after{
	content:'';
	position: absolute;
	right: 0;
	bottom: -5px;
	height: 3px;
	width: 0%;
	background-color:#008ed6;
	transition: .4s all ease-in-out;
}
.nav-link:hover{
	color: #fff;

}

.nav-link:hover::before{
	width: 48%;
}
.nav-link:hover::after{
	width: 48%;
}
.top{
	color:#008ed6;
	font-size: 14px;
}
.content{
	/*color: white;*/
}
.content h4{
	color: #008ed6;
	font-size: 20px;
	margin-bottom: 20px;
}
.content h1{
	color: white;
	margin-bottom: 20px;
}
.content p{
	color: #999999;
	margin-bottom: 40px;

}
.btn-dowonload{
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 8px 20px;

}
.btn-dowonload:hover{
	background-color:#008ed6;
	color: #fff;
	border-color: #008ed6;

}
.view{
	margin-left: 10px;
}
.phone{
	position: absolute;
	bottom: 0;
	margin-left: 120px;
}
.height{
	min-height: 90vh;
}

      /*Feature section start */
.feature{
	padding-top: 50px;
	padding-bottom: 50px;
}
.heading{
	text-align: center;
	margin-bottom: 50px;
}
.heading h6{
	text-transform: uppercase;
	color: #008ed6;
}
.heading h3{
	font-size: 30px;
}
.heading span{
	display: block;
	height: 5px;
	width: 50px;
	background-color: #008ed6;
	margin: 10px auto;
}
/*.heading span::before{
	content:'';
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	background-color: #008ed6;
	transition: .4s all ease-in-out;
}
.heading span::after{
	content:'';
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	background-color: #008ed6;
	transition: .4s all ease-in-out;
}*/

.feature::before{
	content:'';
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 3px;
	width: 0%;
	background-color: #008ed6;
	transition: .4s all ease-in-out;
}

.feature::after{
	content:'';
	position: absolute;
	left: 0;
	bottom: -5px;
	height: 3px;
	width: 0%;
	background-color: #008ed6;
	transition: .4s all ease-in-out;
}

./*feature :hover{
	color: #fff;

}*/



.feature :hover span::before, .feature:hover span::after{
	width: 48%;
}
.icon-box{
	height: 70px;
	width: 70px;
	border: 1px solid #e4e4e4;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin: auto;
	margin-bottom: 25px;

}
.feature-item .fa-tv{
	color:#008ed6;
}
.feature-item .fa-gear{
	color:#008ed6;
}
.feature-item .fa-thumbs-up{
	color:#008ed6;
}
.feature-item .fa-mobile-screen-button{
	color:#008ed6;
}
.feature-item h4{
	text-align: center;
	margin: 15 0 px;
	margin-bottom: 15px;
}
.feature-item p{
	text-align: center;
	color: #999999;
}

 /* Evrey devices section start */

 .heading-two{
	text-align:left;
	/*margin: 50px;*/
	margin-top: 120px;
}
.heading-two h6{
	text-transform: uppercase;
	color: #008ed6;
}
.heading-two h3{
	font-size: 30px;
	margin-bottom: 10px;
}
.heading-two span{
	display: block;
	height: 5px;
	width: 50px;
	background-color: #008ed6;
	margin: 10px ;
}
.heading-two p{
	color:#999999; 
	margin-bottom: 15px;
}
.icon_stuf{
	margin-bottom: 15px;
}
.icon_stuf .fa-solid{
	color: #008ed6;
}
.icon_stuf h6{
	display: inline;
	margin-left: 15px;
	color: black;
}
.fa-regular{
	color: #008ed6;
}
 /*customize section start */
.new{
	margin-top: 150px;
}
.testimonial {
	background-image: url(../image/background2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0px;
}
.testimonial h3{
	color: white;
}
.client{
	color:#999999;
	margin-left: 25px;
}
/*.client p{
	margin-left: 50px;
}*/
.client-info{
	display: flex;
	margin-top: 15px;
	margin-left: 25px;
}
.client-pic img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-top: 15px;
}
.client-info p{
	margin-left: 15px;
	color: white;
}
.owl-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:70px;
}

.owl-dots .owl-dot span{
	width: 6px;
	height: 6px;
	background-color:transparent;
	border: 1px solid gray;
	display: block;
	margin: 4px;
	border-radius: 50px; 

}
.owl-dots .active span{
	background-color: white; 
	width: 10px;
	height: 10px;
	background-color: white;

}
.ad_section{
	padding:50px 0px; 
	background-color: black;
}
.ad_section h3{
	color: #fff;
	font-size: 21px;
}
.ad_section span{
	color: #fff;
	font-weight: 300;

}
.pricing_section{
	padding: 55px 0;
}
.Order{
	color: #008ed6;
	font-weight: 600;
}
.price_table{
	border:1px solid #999999;
	text-align: center;
	padding: 30px 0px;

}
.price_table h3{
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 30px;




}
.price_table p{
	padding: 30px 20px;

}
.price_table h1{
	font-size: 60px;

}
.price_table sup{
	font-size:35px;
}
.price{
	border-top:  1px solid #999999;
	border-bottom: 1px solid #999999;
	padding: 25px 0;

}
.price p{
	color: #999;
}
.price_table:hover h2{
	color:#008ed6;
}
.price_table:hover .price,.price_table:hover .Order{
	background-color: #008ed6;
	color: white;
}
.contact_section{
	background-color:#ededed;
	position: relative;
	padding: 60px 0;
	padding-bottom:100px;
	position: relative;
	padding-bottom: 280px;
}
.element{
	text-align: center;
	color: #999;

}
.element_item{
	color:  #008ed6;
	font-size: 30px;
	padding: 25px;
	
}
.element h3{
	font-size: 22px;
}
.form_box{
	background-color: black;
	border-color: #999;
	padding: 25px;
	height: 320px;
	width: 700px;
	position: absolute;
	margin-bottom: -20px;
	bottom: -60px;
	margin-left: 330px;	
	/*left: -50px;
	transform: translateX(-50%);*/
	
}
.form_box form input{
	background: transparent;
	padding: 15px;
	border-color: #ededed;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;


}
.form-control{
	color: white;
}
.form_box form input[type='submit']  {
background-color: #008ed6;
}
.form_box form textarea{
	background: transparent;

}
/*.last_btn{
	color: #fff;
	border: none;
	border: 1px solid #008ed6;
	padding: 5px 20px;
	background:#008ed6;
	border-radius: 3px;
	margin: left auto;
	
}*/